<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Event Location
            <input th:field="${event.eventLocation}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventLocation}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Is registration required?
            <input th:field="${event.registrationRequired}" class="form-control">
        </label>
        <p class="error" th:errors="${event.registrationRequired}"></p>
    </div>
    <div class="form-group">
        <label>Number Attending
            <input type="number" th:field="${event.numAttending}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numAttending}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>