<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${event.id}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.eventDetails.description}"></td>
    </tr>
    <tr>
        <th>Contact Email</th>
        <td th:text="${event.eventDetails.contactEmail}"></td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>
        </td>
    </tr>
</table>

<a th:href="'/events/add-tag?eventId=' + ${event.id}">Add Tag</a>


</body>
</html>