<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <input type="hidden" th:value="${event.id}" name="eventId" />
        <label>Name
            <input type="text" th:value="${event.name}" name="name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:value="${event.description}" name="description" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" th:value="${event.contactEmail}" name="contactEmail" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success">
    </div>
</form>

</body>
</html>