<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<!--<ul>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event.name}"></li>-->
<!--        <li th:text="${event.description}"></li>-->
<!--    </th:block>-->
<!--</ul>-->
<table class="table table-stripped" >
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Contact Email</th>
        <th>NumberOfPeople</th>
        <th>Type</th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.location}"></td>
        <td th:text="${event.contactEmail}"></td>
        <td th:text="${event.noOfPeople}"></td>
        <td th:text="${event.type.displayName}"></td>
    </tr>
    </thead>
</table>
</body>
</html>