<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.eventDetails.description}"></td>
        <td th:text="${event.eventDetails.contactEmail}"></td>
        <td th:text="${event.eventCategory.name}"></td>
    </tr>
</table>

</body>
</html>