<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form method="post">
    <table class="table table-striped">
        <thead>
        <th>Tag</th>
        <th>Delete</th>
        </thead>
        <tr th:each="tag: ${tags}">
            <td>
                <a th:text="${tag.name}"></a>
            </td>
            <td>
                <input type="checkbox" name="tagIds" th:value="${tag.id}" class="form-control">
            </td>
        </tr>
    </table>
    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>