<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tr th:each="eventCategory : ${eventCategories}">
        <td th:text="${eventCategory.id}"></td>
        <td th:text="${eventCategory.name}"></td>
    </tr>
</table>

</body>
</html>